DATABASE_HOST=localhost
DATABASE_NAME=emsp2_241106
DATABASE_USERNAME=wahyudi
DATABASE_PASSWORD=Astra123
DATABASE_PORT=3010
DATABASE_SYNCHRONIZE=false
DATABASE_DEBUG = true
ENV_CORS = http://localhost:4200

JWT_SECRET=your_jwt_secret_key
