table {

    thead {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        border: none;

        &.with-border {
            tr {
                th {
                    border: 1px solid #fff;
                }
            }
        }

        tr {
            border: none;

            th {
                border: none;
                padding: 1rem 1.5rem;

                svg {
                    width: 1.5rem;
                }
            }

            .mat-sort-header-stem {
                color: #fff;
                background-color: #fff;
            }
        }
    }

    tbody {

        tr {

            td {
                white-space: nowrap;
                text-align: center;
                padding: 0.4rem 1rem;
                font-size: 0.875rem;

                a {
                    width: 1rem;
                    // color: var(--wa-primary);
                }

                span {
                    padding: 0.3rem;
                    color: #fff;
                    font-weight: 500;
                    border-radius: 0.125rem;
                }

                svg {
                    width: 1.5rem;
                }
            }
        }
    }
}




/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgb(124, 124, 179) rgb(211, 208, 201);
}

// /* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//     width: 120px;
//     height: 120px;
// }s

// *::-webkit-scrollbar-track {
//     background: orange;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: blue;
//     border-radius: 200px;
//     border: 300px solid orange;
// }