<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto pt-4 -mt-px border-t sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- CONTENT GOES HERE -->
            <div class="flex items-center justify-between w-full">
                <div>
                    <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                        List All Data Device
                    </h2>
                    <div class="font-medium tracking-tight text-secondary ">
                        WA Line device status
                    </div>
                </div>
            </div>
            <!-- <div class="grid w-full grid-cols-1 gap-8 p-8 mt-8 shadow-sm bg-card rounded-2xl"> -->
            <ngx-datatable class="mt-4 material" [rows]="rows" [columns]="columns" [columnMode]="'force'"
                [headerHeight]="'auto'" [footerHeight]="'auto'" [rowHeight]="'auto'" [count]="totalItems"
                [offset]="currentPage - 1" [limit]="limit" (page)="onPage($event)">
            </ngx-datatable>
            <!-- </div> -->

        </div>
    </div>
</div>