<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="-mt-px flex-auto border-t pt-4 sm:pt-6">
        <div class="mx-auto w-full max-w-screen-xl">
            <!-- CONTENT GOES HERE -->
            <div class="flex w-full items-center justify-between">
                <div>
                    <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                        List All Data Device
                    </h2>
                    <div class="text-secondary font-medium tracking-tight">
                        WA Line device status
                    </div>
                </div>
            </div>

            <div style="margin: 10px 0">
                <input
                    type="text"
                    [(ngModel)]="quickFilterText"
                    (input)="onGlobalFilterChanged($event)"
                    placeholder="Search in all columns..."
                    class="ag-filter-input"
                />
            </div>
            <div style="margin-bottom: 10px">
                <button (click)="exportToCSV()">📄 Export to CSV</button>
            </div>
            <ag-grid-angular
                style="width: 100%; height: 800px"
                class="ag-theme-alpine striped"
                [rowData]="rowData"
                [columnDefs]="columnDefs"
                (gridReady)="onGridReady($event)"
                rowSelection="single"
                [defaultColDef]="defaultColDef"
                [pagination]="true"
                [paginationPageSize]="20"
            ></ag-grid-angular>
        </div>
    </div>
</div>
