<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="-mt-px flex-auto border-t pt-4 sm:pt-6">
        <div class="mx-auto w-full max-w-screen-xl">
            <!-- CONTENT GOES HERE -->
            <div class="flex w-full items-center justify-between">
                <div>
                    <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                        List All Data Device
                    </h2>
                    <div class="text-secondary font-medium tracking-tight">
                        WA Line device status
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
