<div class="flex min-w-0 flex-auto flex-col">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="h-400 max-h-400 min-h-400 rounded-2xl border-gray-300">
            <!-- Ini Halaman Test {{user.name}} -->

            <!-- <div class="container p-6 mx-auto"> -->
            <h1 class="mb-4 text-2xl font-bold">AG Grid with Dummy Data</h1>

            <!-- Filter -->
            <input
                type="text"
                [(ngModel)]="search"
                (input)="onSearch()"
                placeholder="Search name/email..."
                class="mb-4 w-full border p-2"
            />

            <!-- AG Grid -->
            <ag-grid-angular
                style="width: 100%; height: 400px"
                class="ag-theme-alpine"
                [rowData]="filteredUsers"
                [columnDefs]="columns"
                [pagination]="true"
                [paginationPageSize]="limit"
                (gridReady)="onGridReady($event)"
                (sortChanged)="onSort()"
            ></ag-grid-angular>
        </div>
    </div>
</div>
