::ng-deep .ag-header {
    background-color: #0a3d69 !important;
    color: white !important;

    .ag-input-field-input,
    .ag-number-field-input {
        background-color: rgb(255, 255, 255) !important;
        @apply text-gray-800 px-1
    }
}